h1 {
  color: #F5F8F8;
  font-family: 'Marcellus';
  font-size:80px;
  margin-top: 3em;
  margin-left: 2em;
  margin-bottom: 3em;
}

h3 {
  font-family: 'Marcellus';
}

.top_page {
  height:50em;
  background: url("../img/background.jpg");
  display:flex;
  flex-direction: column;
}

/* button {
  height:3em;
  width:10em;
  border:none;
  font-size:20px;
  color:#387170;
  background-color:#F5F8F8;
  margin-left:8em;
  box-shadow:5em;
} */

.mission {
  background-color: #F8F9F8;
}

.card {
  height:30em;
  padding-top:4em;
  padding-bottom:4em;
  text-align:center;
}

.card div {
  font-size: 25px;
  font-family:"Jost";
  padding-left:15%;
  padding-right:15%;
  
}

